<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLInJK_5jaEivB8sdhOsL8TVcVv5Yo9J8</string>
	<key>GCM_SENDER_ID</key>
	<string>83198966801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.feyzanurparmaksiz.MeetingAndNoteTakingApp</string>
	<key>PROJECT_ID</key>
	<string>meetingandnoteapp</string>
	<key>STORAGE_BUCKET</key>
	<string>meetingandnoteapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83198966801:ios:bafb5d4fc774e472e485b0</string>
</dict>
</plist>