<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCja4c-Nfa5itUBaWGVhcH7G-DWDOlUeo4</string>
	<key>GCM_SENDER_ID</key>
	<string>357845929435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.feyzanurparmaksiz.MeetingAndNoteTakingApp</string>
	<key>PROJECT_ID</key>
	<string>MeetingAndNoteTakingApp-1ef56</string>
	<key>STORAGE_BUCKET</key>
	<string>MeetingAndNoteTakingApp-1ef56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:357845929435:ios:89f87c82171b0e3f6d2bfe</string>
</dict>
</plist>
